button:focus {
  outline: 0;
}

.wrapper {
  max-width: calc(1em * 1800 / 16);
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  auto auto auto;
}

.header {
  background-image: url(../NeutronMail/accets/images/background.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns:  1fr 2fr 1fr;
  grid-template-rows: 153px 603px;
}

.header-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-left: 10%;
}

.header-logo-name {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.9rem;
  font-weight: 700;
  color: #858688;
}

.header-logo-name-span {
  color: #5b4295;
}

.header-logo-language {
  margin-top: calc(1em * 14 / 16);
  margin-left: calc(1em * 9 / 16);
  display: flex;
}

.header-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin-top: calc(1em * 8 / 16);
  margin-right: calc(1em * 50 / 16);
}

.nav-link {
  margin-right: calc(1em * 15 / 16);
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: #646161;
}

.nav-link:last-child{
  margin-right: 0;
}

.nav-link:hover {
  color: #5f2f6a;
  transition-delay: 0.2s;
}

.header-buttons {
  display: flex;
  align-items: center;
  margin-top: calc(1em * 8 / 16);
  margin-left: calc(1em * 50 / 16);
}

.button-log {
  cursor: pointer;
  width: 94px;
  height: 40px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #454545;
  background-color: #fff;
  border: 1px solid #fff;
}

.button-sign {
  cursor: pointer;
  width: 94px;
  height: 40px;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #fcfcfd;
  text-decoration: none;
  background: linear-gradient(215deg, rgba(83,107,210,1) 0%, rgba(88,44,126,1) 100%);
  border-radius: calc(1em * 35 / 16);
}

.button-sign:hover {
  box-shadow:0px 4px 12px #0e3eb8, 0px 0px 1px #fff;
  transition: 0.5s ease-in;
}

.header-image {
  display: grid;
  grid-template-columns: 95% 5%;
  grid-template-rows:  1fr;
  grid-column-start: 1;
  grid-column-end: 4;
}

.communication {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.communication-part1 {
  margin-bottom: calc(1rem * 20 / 16);
}

.communication-part1__h2 {
  text-align: center;
}

.communication-part2 {
  margin-bottom: calc(1rem * 60 / 16);
}

.communication-buttons {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(1em * 160 / 16);
}

.language-link {
  text-decoration: none;
  color: #a3a3a3;
  font-family: 'Titillium Web', sans-serif;
  font-size: 0.9rem;
  margin-right: 0.5em;
}

.language-link::after {
  content: " /";
}

.language-link:last-child::after {
  content: none;
}

.language-link:hover {
  color: #9c9c9c;
  text-decoration: underline;
  font-weight: 700;
}

.communication-part1 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 3.7rem;
  font-weight: 700;
  color: #454545;
  opacity: 0.84;
}

.communication-part2 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 2.3rem;
  color: #464646;
  opacity: 0.84;
}

.communication-part2-span {
  color: #fc2028;
}

.communication-buttons-create {
  width: 223px;
  height: 49px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  background: linear-gradient(215deg, rgba(96,47,106,1) 0%, rgba(100,108,147,1) 100%);
  border-radius: calc(1em * 35 / 16);
  margin-right: calc(1em * 8 / 16);
}

.communication-buttons-create:hover {
  box-shadow: 2px 7px 12px #647bbe, 0px 0px 1px #fff;
  transition: 0.5s ease-in;
}

.communication-buttons-apple {
  width: 46px;
  height: 46px;
  background-color: #5f2966;
  opacity: 0.8;
  text-align: center;
  color: #fcfcfd;
  border-radius: 50%;
  margin-right: calc(1em * 8 / 16);
}

.communication-buttons-apple:hover {
  box-shadow: 2px 3px 5px #647bbe, 0px 0px 1px #fff;
  transition: 0.5s ease-in;
}

.communication-buttons-play {
  width: 46px;
  height: 46px;
  background-color: #5f2966;
  opacity: 0.8;
  text-align: center;
  color: #fcfcfd;
  border-radius: 50%;
}

.communication-buttons-play:hover {
  box-shadow: 2px 3px 5px #647bbe, 0px 0px 1px #fff;
  transition: 0.5s ease-in;
}

.social-networks {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: calc(1em * 10 / 16);
}

.gplus, .facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 20%;
  opacity: 0.82;
  background-color: #454545;
  color: #fff;
  margin-bottom: calc(1em * 15 / 16);
}

.twitter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 20%;
  opacity: 0.82;
  background-color: #454545;
  color: #fff;
  margin-bottom: calc(1em * 280 / 16);
}

.facebook:hover{
  background: #3660a0;
  opacity: 1;
  transform: translate(3px, -3px);
  box-shadow: -2px 6px 10px #9BABE7;
}

.twitter:hover{
  background: #2daae1;
  opacity: 1;
  transform: translate(3px, -3px);
  box-shadow: -2px 6px 10px #9BABE7;
}

.gplus:hover{
  background: #dc5442;
  opacity: 1;
  transform: translate(3px, -3px);
  box-shadow: -2px 6px 10px #9BABE7;
}

.main-part1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 2%;
}

.main-img-security {
  margin-top: calc(1em * 15 / 16);
  margin-left: calc(1em * 18 / 16);
}

.main-img-emsecurity {
  margin-top: calc(1em * 12 / 16);
  margin-left: calc(1em * 7 / 16);
}

.main-img-privacy {
  margin-top: calc(1em * 20 / 16);
  margin-left: calc(1em * 18 / 16);
}

.main-part1-art {
  width: calc(1em * 410 / 16);
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows:  40% 60%;
}

.main-part1__art-title {
  padding-top: calc(1em * 14 / 16);
  padding-left: calc(1em * 10 / 16);
  padding-bottom: calc(1em * 14 / 16);
}

.main-part1-art-p {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-top: calc(1em * 14 / 16);
  padding-left: calc(1em * 35 / 16);
  padding-bottom: calc(1em * 30 / 16);
}

.main-part1-h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.9rem;
  color: #606060;
  margin: 2% 1%;
}

.main-part1-span {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.1rem;
  color: #aaa8a8;
}

.main-part1-p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 0.9rem;
  color: #959393;
  line-height: 1.4rem;
}

.main-part2-security {
  display: grid;
  grid-template-columns: 15% 40% 10% 5% 30%;
  grid-template-rows:  20% 60% 20%;
  margin: 1%  0;
}

.main-part2-security-h3 {
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  justify-content: flex-end;
  font-family: 'Titillium Web', sans-serif;
  font-size: 3.2rem;
  color: #535353;
  margin: 1%;
}

.main-part2-security-p {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.4rem;
  color: #959393;
  margin: 2% 0;
}

.main-part2-security-span {
  color: #f65151;
  font-weight: 700;
}

.button-learn-more {
  cursor: pointer;
  grid-column-start: 3;
  grid-column-end: 5;
  width: 334px;
  height: 62px;
  border-radius: calc(1em * 32 / 16);
  border: 1px solid #b9b9b9;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  color: #676767;
  background: #fff;
  padding: 2%;
}

.button-learn-more:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
  border: 2px solid #b9b9b9;
}

.main-part3 {
  max-height: 708px;
  grid-column-start: 1;
  grid-column-end: 5;
  display: grid;
  grid-template-columns: 10% 15% 15% 20% 40%;
  grid-template-rows: 20% 30% 30% 20%;
  margin: 2%  0;
  padding: 2%  0;
}

.main-part3-img {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: calc(1em * 50 / 16);
  width: 100%;
}

.blog-careers {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-slider {
  grid-column-start: 2;
  grid-column-end: 4;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.3rem;
  font-weight: 700i;
  line-height: 1.7rem;
  color: #101010;
  display: flex;
  align-items: flex-start;
}

.slider {
  margin-left: calc(1em * 10 / 16);
}

.blog-slider-p {
  margin-left: calc(1em * 20 / 16);
}

.blog-slider-span {
  color: #727272;
  font-size: 1rem;
}

.blog-info {
  grid-column-start: 3;
  grid-column-end: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.blog-info-h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 2.3rem;
  color: #535353;
}

.blog-info-p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  color: #959393;
}

.blog-info-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-info-images {
  width: 180px;
  height: 55px;
}

.blog-info-images:first-child {
  margin-right: calc(1em * 10 / 16);
}

.blog-info-images:hover {
  box-shadow: 2px 3px 5px #647bbe, 0px 0px 1px #fff;
  transition: 0.3s ease-out;
}

.main-part4-donate {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

.main-part4-donate:before {
  content: "";
  width: 1200px;
  height: 1px;
  margin-left: 15%;
  z-index: 1;
  background-color: #b9b9b9;
}

.donate-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(1em * 44 / 16);
}

.donate-text-h2 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 2rem;
  color: #535353;
}

.donate-text-h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.6rem;
  color: #7f7f7f;
  margin: 2% 0;
}

.donate-buttons {
  display: flex;
  margin-bottom: calc(1em * 50 / 16);
  margin: 1%;
}

.donate-button1 {
  cursor: pointer;
  width: 236px;
  height: 56px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  background: linear-gradient(215deg, rgba(95,47,106,1) 0%, rgba(99,107,146,1) 100%);
  border-radius: calc(1em * 40 / 16);
  margin: 2%;
}

.donate-button1:hover {
  box-shadow: 5px 9px 12px #7583b0, 0px 0px 1px #fff;
  transition: 0.3s ease-in-out;
}

.donate-button2 {
  cursor: pointer;
  width: 156px;
  height: 56px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  background: linear-gradient(215deg, rgba(94,123,234,1) 0%, rgba(53,186,224,1) 100%);
  border-radius: calc(1em * 40 / 16);
  margin: 2%;
}

.donate-button2:hover {
  box-shadow: 5px 10px 12px #6cc5c3, 0px 0px 1px #fff;
  transition: 0.3s ease-in-out;
}

.main-part5-secure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 1%;
  margin-right: 20%;
}

.main-part5-secure-title  {
  font-family: 'Titillium Web', sans-serif;
  font-size: 0.9rem;
  color:#7a7a7a;
}

.part5-secure-img {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  margin: 1%;
}

.secure-img {
  margin: 1%;
  margin-left: 5%;
}




.footer {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 8% 1%;
}

.lists-wrapper {
  display: flex;
  margin: 2% 0;
}

.footer-contacts-list {
  font-family: 'Titillium Web', sans-serif;
  font-size: 0.9rem;
  color: #5c5c5c;
  margin-left: calc(1em * 20 / 16);
  margin-right: 20%;
}

.footer-contacts-list-li {
  margin-bottom: calc(1em * 10 / 16);
}

.footer-contacts-list-li:nth-child(3) {
  margin-bottom: calc(1em * 30 / 16);
}

.footer-contacts-list-span {
  font-weight: 700;
}

.footer-company {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 5%;
  padding: 0 5%;
}

.footer-company-par {
  margin-bottom: calc(1em * 14 / 16);
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: #5c5c5c;
}

.footer-company-list {
  direction: rtl;
  float: left;
  list-style-type: disc;
  font-family: 'Titillium Web', sans-serif;
  font-size: 0.9rem;
  color: #5c5c5c;
} 

.footer-company-li {
  margin-bottom: calc(1em * 5 / 16);
}

.footer-legal {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 5%;
  padding: 0 5%;
}

.footer-legal-li {
  margin-bottom: calc(1em * 5 / 16);
}

.footer-neutronmail {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 5%;
  padding: 0 5%;
}

.footer-neutronmail-li {
  margin-bottom: calc(1em * 5 / 16);
}

.footer-breadcrumbs {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: 'Titillium Web', sans-serif;
  font-size: 0.8rem;
  color: #5c5c5c;
}

.footer-breadcrumbs-wrapper {
  margin-bottom: calc(1em * 20 / 16);
}

.breadcrumbs-link {
  text-decoration: none;
  color: #5c5c5c;
}

.breadcrumbs-link::after {
  content: " /";
}

.breadcrumbs-link:last-child::after {
  content: none;
}

.breadcrumbs-link:hover {
  color: #5910ad;
  text-decoration: underline;
  font-weight: 700;
}

.footer-breadcrumbs-p {
  margin-bottom: calc(1em * 20 / 16);
}



@media only screen and (max-width: 1280px) {
  .header {
    display: grid;
    grid-template-columns:  1fr 1fr;
  }

  .header-logo {
    margin-left: 5%;
  }

  .header-buttons {
    display: none;
  }

  .header-image {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .main-part3 {
    grid-template-columns: 10% 20% 15% 30% 25%;
  }

  .blog-careers {
    display: none;
  }

  .main-part3-img {
    grid-column-start: 3;
    grid-column-end: 6;
  }

  .main-part4-donate:before {
    width: 900px;
  }
}

@media only screen and (max-width: 800px) {
  .header {
    display: grid;
    grid-template-columns:  50% 50%;
  }

  .header-logo {
    margin-top: 0;
    margin-left: 0;
  }

  .header-logo-language {
    display: none;
  }

  .header-buttons {
    display: none;
  }

  .header-image {
    grid-template-columns: 1fr;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .communication-part1 {
    font-size: 3.3rem;
  }

  .communication-part2 {
    font-size: 2rem;
  }

  .social-networks {
    display: none;
  }

  .main-part2-security {
    grid-template-columns: 10% 60% 10% 5% 15%;
  }

  .main-part2-security-h3 {
    font-size: 2.7rem;
  }

  .button-learn-more {
    display: none;
  }

  .main-part3-img {
    grid-column-start: 2;
    grid-column-end: 6;
    opacity: 0.8;
  }

  .blog-info {
    display: none;
  }

  .main-part4-donate:before {
    display: none;
  }

  .donate-text-h2 { 
    font-size: 1.8rem;
  }
  
  .donate-text-h3 {
    font-size: 1.4rem;
  }

  .footer-wrapper {
    flex-direction: column;
    margin: 1%;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    display: grid;
    grid-template-columns:  70% 30%;
  }

  .header-logo {
    align-items: flex-start;
    margin-top: 0;
    margin-left: 5%;
  }

  .nav-link {
    margin-right: 0;
  }

  .header-logo-language {
    display: none;
  }

  .header-buttons {
    display: none;
  }

  .header-image {
    grid-template-columns: 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  .communication-part1 {
    font-size: 3rem;
  }

  .communication-part2 {
    font-size: 1.7rem;
  }

  .communication-part1__h2 {
    margin-left: 2%;
  }

  .social-networks {
    display: none;
  }

  .main-part1 {
    justify-content: flex-start;
  }

  .main-part2-security-h3 {
    font-size: 2.3rem;
  }

  .button-learn-more {
    display: none;
  }

  .main-part3 {
    grid-template-rows: 20% 30%;
  }

  .main-part3-img {
   display: none;
  }

  .blog-slider {
    grid-column-start: 2;
    grid-column-end: 5;
  }

  .donate-text-h2 { 
    font-size: 1.6rem;
    text-align: center;
  }
  
  .donate-text-h3 {
    font-size: 1.2rem;
  }

  .footer-wrapper {
    align-items: flex-end;
    margin: 1%;
  }

  .footer-contacts-list {
    margin-top: 5%;
    margin-right: 0;
  }

  .lists-wrapper {
    display: none;
  }
}
